<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669895901022-b3pqggv2v8bkljpoojsjfgf369ip7709.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669895901022-b3pqggv2v8bkljpoojsjfgf369ip7709</string>
	<key>API_KEY</key>
	<string>AIzaSyBrL9Rk8lfEteQa-RmC98xXFziiSXcq6ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>669895901022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.spotvideo</string>
	<key>PROJECT_ID</key>
	<string>spot-videos</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-videos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669895901022:ios:39b2ff10823d988ec059cf</string>
</dict>
</plist>